[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "craftr-dsl"
version = "0.7.4"
description = "Domain specific language for the Craftr build system."
authors = ["Niklas Rosenstein <rosensteinniklas@gmail.com>"]
license = "MIT"
readme = "readme.md"
packages = [
  { include = "craftr/dsl", from="src" }
]

  [tool.poetry.urls]
  Homepage = "https://github.com/NiklasRosenstein/craftr-dsl"
  Documentation = "https://craftr-build.github.io/craftr-dsl/"

  [tool.poetry.dependencies]
  python = "^3.10"
  "nr.util" = ">=0.7.0,<1.0.0"
  astor = "^0.8.1"
  termcolor = "^1.1.0"

  [tool.poetry.dev-dependencies]
  pytest = "^6.2.5"
  pydoc-markdown = "^4.5.0"
  types-termcolor = "*"

[tool.slam]
typed = true

  [tool.slam.test]
  pytest = "pytest test/"
  mypy = "mypy src/ --namespace-packages"
  check = "slam check"

[tool.pydoc-markdown]

  [[tool.pydoc-markdown.loaders]]
  type = "python"
  search_path = [ "src" ]
  packages = [ "craftr.dsl" ]

  [tool.pydoc-markdown.renderer]
  type = "mkdocs"

  [[tool.pydoc-markdown.renderer.pages]]
  title = "craftr-dsl"
  name = "index"
  source = "readme.md"

  [[tool.pydoc-markdown.renderer.pages]]
  title = "API"
  contents = [
    "craftr.dsl._execute.execute",
    "craftr.dsl._rewriter.Grammar",
    "craftr.dsl._rewriter.SyntaxError",
    "craftr.dsl._runtime.ChainContext",
    "craftr.dsl._runtime.Closure",
    "craftr.dsl._runtime.Context",
    "craftr.dsl._runtime.MapContext",
    "craftr.dsl._runtime.ObjectContext",
    "craftr.dsl._transpiler.TranspileOptions",
    "craftr.dsl._transpiler.transpile_to_ast",
    "craftr.dsl._transpiler.transpile_to_source",
  ]
